# Strings

In [4]:
# 2 quotation marks
"Michael jackson"

'Michael jackson'

In [5]:
#single quotation marks
'Michael jackson'

'Michael jackson'

In [8]:
print ("Hello!")

Hello!

In [6]:
name= "Ahmed Ali"
name

'Ahmed Ali'

Indexing

In [9]:
print (name[1])

h

In [10]:
print(name[5])

Negative Indexing

In [11]:
print(name[-2])

l

Slicing

In [12]:
name[2:6]

'med '

Stride

In [13]:
name[::3]

'AeA'

In [14]:
name[0:2:4]

'A'

Concatenate Strings

In [33]:
name = "Nada" 
statement = name + " is the best"
statement

'Nada is the best'

In [34]:
3* "Nada "

'Nada Nada Nada '

Escape Sequences

In [28]:
print(" Nada \n is the best" )

 Nada
 is the best

In [30]:
print(" Nada \t is the best" )

 Nada 	 is the best

In [29]:
print(" Nada \\ is the best" )

 Nada \ is the best

In [31]:
print(r" Nada \ is the best" )

 Nada \ is the best

String Operations

In [27]:
a = "you are a good person"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: you are a good person
After upper: YOU ARE A GOOD PERSON

In [88]:
a = "Nada is the best"
b = a.replace('Nada', 'Rasha')
b

'Rasha is the best'

In [89]:
name = "Mohammed Faisal"
name.find('isa')

11

In [90]:
name.find('Faisal')

9

In [91]:
name.find('Ali')

-1

# Lists

Indexing

In [92]:
L = ["Nada", 20 ,"15-12-2002"]
L

['Nada', 20, '15-12-2002']

In [93]:
print('the same element using negative and positive indexing:\n Postive:',L[0],'\n Negative:' , L[-3] )

the same element using negative and positive indexing:
 Postive: Nada
 Negative: Nada

List slicing

In [52]:
L[0:2]

['Nada', 20]

In [59]:
L = ["Nada", 20 ,"15-12-2002"]
L.extend(['IS' , 'KKU'])
L

['Nada', 20, '15-12-2002', 'IS', 'KKU']

In [64]:
L = ["Nada", 20 ,"15-12-2002"]
print('Before change:', L)
L[0] = 'Ali'
print('After change:', L)

Before change: ['Nada', 20, '15-12-2002']
After change: ['Ali', 20, '15-12-2002']

In [74]:
# Delete the element based on the index
L = ["Nada", 20 ,"15-12-2002"]
print('Before change:', L)
del(L[2])
print('After change:', L)

Before change: ['Nada', 20, '15-12-2002']
After change: ['Nada', 20]

In [80]:
'Nada Ali'.split()

['Nada', 'Ali']

In [81]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy and Clone List

In [85]:
#Copy
A = ["Nada", 20 ,"15-12-2002"]
B = A
print('A:', A)
print('B:', B)

A: ['Nada', 20, '15-12-2002']
B: ['Nada', 20, '15-12-2002']

In [83]:
print('B[0]:', B[0])
A[0] = "IS"
print('B[0]:', B[0])

B[0]: Nada
B[0]: IS

In [84]:
# Clone
B = A[:]
B

['IS', 20, '15-12-2002']